<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark" style="display:flex; justify-content:space-between">
    <form class="form-inline" method="get" action="/" style="margin:0px">
      <button class="btn btn-md btn-outline-secondary" type="submit" style="color:white">Home</button>
    </form>
    <form class="form-inline" method="get" action="/" style="margin:0px">
      <button class="btn btn-md btn-outline-secondary"><a style="color:white" href="stockSelect">Stock Select</a></button>
    </form>
  </nav>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
