<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark" style="display:flex; justify-content:space-between">
    <form class="form-inline" method="get" action="/" style="margin:0px">
      <button class="btn btn-md btn-outline-secondary" type="submit" style="color:white">Home</button>
    </form>
    <div><h1 style="font-size: 26px; color: white; margin-top: 5px;margin-left:120px; margin-bottom:0px">StoX</h1></div>
    <div style="display:flex;">
    <form class="form-inline" method="get" action="/stockselect" style="margin:0px; margin-right: 10px;" >
      <button class="btn btn-md btn-outline-secondary" style="color:white;">Stock Select</button>
    </form>
    <form class="form-inline" method="get" action="/logout" style="margin:0px">
      <button class="btn btn-md btn-outline-secondary" style="color:white;">logout</button>
    </form>
  </div>
  </nav>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
