<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="./css/index.css">
</head>

  <h1>INDEX PAGE</h1>
  <h2><a href="stockSelect"> StockSelect</a> </h2>
</body>
</html>
