<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>stockSelect</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/stockSelect.css">
</head>

  <h1> SELECT YOUR STOCKS HERE! </h1>

  <script>https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js </script>
<body>
</html>
