body{
  background: white;
}

h3 {
  font-size: 30px;
  padding-top: 20px;
}
.header{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-between;
  margin-top: 15px;
}
.container{
  width: 80vw;
  background: white;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.buttonContainer{
 width: 100%;
 background: white;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin: 20px;
 border-radius: 5px;
}

.btnStock{
  height: 100px;
  width: 100px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 3px;
}

#tester{
  /* max-width:500px;
  height:500px;
  margin:auto;
  margin-bottom: 20px; */
}
