body{
  background: url("cubes.png");
}

h1 {
	padding: 10px;
}

.container-fluid {
	width: 1200px;
	border-radius: 20px;
	background: darkseagreen;
}

.col-sm-2 {
	height: 25%;
	margin: 20px;
	border-radius: 10px;

}

.stock-btn {
	width: 150px;
	height: 150px;
	border-radius: 10px;
	background: white;
	color: rgba(225,225,225,0);
}


.clicked {
	border-color: turquoise;
	border-width: 10px;

}

.stock-btn:hover {
	color: rgba(225,225,225,1);
	border-color: lightgray;
	border-width: 10px;
	background-image: none !important;
	background: rgba(0,0,0,0.6);

}

.pd_none {
	padding: 0px !important;
}

p {
	text-align: center;
	font-size: 14px;
	overflow: none;
}

.submit-btn {
	width: 150px;
	height: 60px;
  margin: 40px;
	border-radius: 5px;
	background: rgba(0,0,0,0.6);
	color: white;
	font-size: 20px;
  transition:ease all .3s;
}

.submit-btn:hover {
	color: white;
  background: darkgrey;
}
