<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>stockSelect</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/login.css">
</head>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>

  <div class="jumboton vertical-center">
    <div class="container-fluid text-center">
      <div class="row">
        <h1> Login </h1>
      </div>
      <div class="row justify-content-md-center">

        <form action="/login" method="post" class="bigform">
          <div class="form">
            <input type="text" class="form-control" placeholder="Username" name="user" id="user" value="<% user %>"/>
        </div>
        <div class="row justify-content-md-center">
          <div class="form">
            <input type="password" class="form-control" placeholder="Password" name="password" id="password" value="<% password %>"/>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <a class="btn" href="/"><button type="submit" name="Submit" class="btn login-btn">Login!</button></a>
        </div>
      </form>
      <div class="row justify-content-md-center">
          <form class="form-inline">
            <div class="col">
              <button type="button" class="btn sign-btn">Sign up!</button>
            </div>
          </form>
      </div>
    </div>
  </div>
  <script>https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js </script>
<body>
</html>
