<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>stockSelect</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/signup.css">
</head>
  <div class="jumboton vertical-center">
    <div class="container-fluid text-center">
      <div class="row">
        <h1> Sign up </h1>
      </div>
      <div class="row justify-content-md-center">
        <div class="form">
          <input type="email" class="form-control" placeholder="Email" id="email">
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="form">
          <input type="text" class="form-control" placeholder="Username" id="user">
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="form">
          <input type="password" class="form-control" placeholder="Password" id="pwd">
        </div>
      </div>
      <br>
      <div class="row justify-content-md-center">
          <form>
            <button type="button" class="btn submit-btn">Sign Up!</button>
          </form>
      </div>
    </div>
  </div>
  <script>https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js </script>
<body>
</html>
