<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>stockSelect</title>
  <%- include ../layouts/header.ejs %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/stockSelect.css">

  <script src="http://code.jquery.com/jquery-2.2.0.js"></script>

  <script>
      var $company = {}
      var symb = []
      var company_names = []

      $(document).ready(function() {
          var in_focus_url = 'https://api.iextrading.com/1.0/stock/market/list/infocus'
          $.getJSON(in_focus_url,function(json){
              var stock_url
              //if there is data --> selected stocks displays companies that are in focus else display most active companies
              if(json.length == 0){
                  stock_url = 'https://api.iextrading.com/1.0/stock/market/list/mostactive'
              }else{
                  stock_url = 'https://api.iextrading.com/1.0/stock/market/list/infocus'
              }

              $.ajax({url:stock_url, dataType:"jsonp"}).then(function(data) {
                  //populate symb with symbols and company_names with names
                  //console.log(data);
                  var i;
                  for(i = 0 ; i < data.length; i++){
                      symb.push(data[i].symbol)
                      //cut off company name if it exceeds 25 characters
                      var letter_limit = 25;
                      if(data[i].companyName.length > letter_limit){
                          var new_str
                          var n
                          for(n = letter_limit; n > 0; n--){
                              if(data[i].companyName.charAt(n) == ' '){
                                  new_str = data[i].companyName.substring(0,n)
                                  break
                              }
                          }
                          company_names.push(new_str)
                      }else{

                          company_names.push(data[i].companyName)
                      }

                      //populate company object
                      $company[symb[i]] = company_names[i];

                  }

                  var num = 1
                  Object.keys($company).forEach(function(key) {
                      //key is the company's symbol
                      //value is the company's name
                      var value = $company[key];

                      var str_logo = '#results' + num

                      var str_name = '#name' + num
                      $(str_name).text(value)

                      //fetches company's logo
                      var url ='https://api.iextrading.com/1.0/stock/' + key + '/logo'
                      $.ajax({url:url, dataType:"jsonp"}).then(function(data_url) {
                      $(str_logo).css({'background-image' : 'url(' + data_url.url + ')', 'background-repeat' : 'no-repeat', 'background-position' : 'center'});
                      });
                      num++

                  });

              })


          });

          //keep track of selected buttons --> has class clicked
          $(".stock-btn").click(function() {
              if ($(this).hasClass('clicked')) {
                 $(this).removeClass('clicked');
              }
                else
              {
                 $(this).addClass('clicked');
              }
          })

          $(".submit-btn").click(function() {
            var clicked_symbs = []
              $(".stock-btn").each(function() {
                  if($(this).hasClass('clicked')) {
                      var button_id = $(this).attr('id')
                      //add to database
                      //symbols selected
                      clicked_symbs.push(symb[parseInt(button_id.match(/\d+/)) - 1])
                      //console.log(symb[parseInt(button_id.match(/\d+/)) - 1])
                  }
              })
              $("#submit-id").val(clicked_symbs)
              //window.location.href='/';

          })

      })

  </script>


</head>

  <% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
  <% } %>
  <% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
  <% } %>

  <h1>Select Stocks</h1>

  <div class="container-fluid">
    <form action="/stockSelect" method="post">
        <div class="row">
                <div class="col-sm-2 pd_none">
                    <button type="button" class="btn stock-btn" id="results1">
                        <p id=name1>name1</p>

                    </button>
                </div>
                <div class="col-sm-2 pd_none">
                    <button type="button" class="btn stock-btn" id="results2">
                        <p id=name2>name2</p>

                    </button>

                </div>
                <div class="col-sm-2 pd_none">
                    <button type="button" class="btn stock-btn" id="results3">
                        <p id=name3>name3</p>

                    </button>

                </div>
                <div class="col-sm-2 pd_none">
                    <button type="button" class="btn stock-btn" id="results4">
                        <p id=name4>name4</p>

                    </button>

                </div>
                <div class="col-sm-2 pd_none">
                    <button type="button" class="btn stock-btn" id="results5">
                        <p id=name5>name5</p>

                    </button>
                </div>
                <div class="col-sm-2 pd_none">
                    <button type="button" class="btn stock-btn" id="results6">
                        <p id=name6>name6</p>

                    </button>

                </div>
                <div class="col-sm-2 pd_none">
                    <button type="button" class="btn stock-btn" id="results7">
                        <p id=name7>name7</p>

                    </button>

                </div>
                <div class="col-sm-2 pd_none">
                    <button type="button" class="btn stock-btn" id="results8">
                        <p id=name8>name8</p>

                    </button>

                </div>
                <div class="col-sm-2 pd_none">

                    <button type="button" class="btn stock-btn" id="results9">
                        <p id=name9>name9</p>

                    </button>

                </div>
                <div class="col-sm-2 pd_none">
                    <button type="button" class="btn stock-btn" id="results10">
                            <p id=name10>name10</p>

                    </button>

                </div>
        </div>
        <div class="row justify-content-md-center">
             <input type="Submit" class="btn submit-btn" id="submit-id" name="stock_list" value="<%= stock_list %>"/>
        </div>
        <input type="hidden" name="_method" value="PUT"/>
    </form>
  </div>

</body>
</html>
