<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>stockSelect</title>
  <%- include ../layouts/header.ejs %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/stockSelect.css">

  <script src="http://code.jquery.com/jquery-2.2.0.js"></script>
  <script>
    var company = {}
    var symb = []
    var company_names = []

    $(document).ready(function() {
        var most_active_url = 'https://api.iextrading.com/1.0/stock/market/list/mostactive'
        $.getJSON(most_active_url,function(json){
            var stock_url
            //if there is data --> selected stocks displays companies that are the most active else display in focus companies
            if(json.length == 0){
                stock_url = 'https://api.iextrading.com/1.0/stock/market/list/infocus'
            }else{
                stock_url = 'https://api.iextrading.com/1.0/stock/market/list/mostactive'
            }
            
            $.ajax({url:stock_url, dataType:"jsonp"}).then(function(data) {
                //populate symb with symbols and company_names with names
                var i;
                for(i = 0 ; i < data.length; i++){
                    symb.push(data[i].symbol)
                    //cut off company name if it exceeds 25 characters
                    var letter_limit = 25;
                    if(data[i].companyName.length > letter_limit){
                        var new_str
                        var n
                        for(n = letter_limit; n > 0; n--){
                            if(data[i].companyName.charAt(n) == ' '){
                                new_str = data[i].companyName.substring(0,n)
                                break
                            }
                        }
                        company_names.push(new_str)
                    }else{
                        
                        company_names.push(data[i].companyName)
                    }

                    //populate company object
                    company[symb[i]] = company_names[i];

                }

                var num = 1
                Object.keys(company).forEach(function(key) {
                    //key is the company's symbol
                    //value is the company's name
                    var value = company[key];
                    console.log(key);
                       
                    var str_logo = '#results' + num

                    var str = '#name' + num
                    $(str).text(value)
                    //fetches company's logo
                    var url ='https://api.iextrading.com/1.0/stock/' + key + '/logo'
                    $.ajax({url:url, dataType:"jsonp"}).then(function(data_url) {
                    $(str_logo).css({'background-image' : 'url(' + data_url.url + ')', 'background-repeat' : 'no-repeat', 'background-position' : 'center'});
                    });
                    num++
                    
                });
            
            })
            
        });
   
    })
      

  </script>

</head>

  <h1>Select Stocks</h1>

  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 pd_none">
        	<form>
        		<button type="button" class="btn stock-btn" id="results1">
                    <p id=name1>name1</p>
                </button>
        	</form> 
        </div>
        <div class="col-sm-2 pd_none">
            <form>
        		<button type="button" class="btn stock-btn" id="results2">
                    <p id=name2>name2</p>      
                </button>
        	</form>
        </div>
        <div class="col-sm-2 pd_none"> 
            <form>
        		<button type="button" class="btn stock-btn" id="results3">
                    <p id=name3>name3</p>      
                </button>
        	</form>
        </div>
        <div class="col-sm-2 pd_none">
            <form>
        		<button type="button" class="btn stock-btn" id="results4">
                    <p id=name4>name4</p>      
                </button>
        	</form>
        </div>
        <div class="col-sm-2 pd_none"> 
            <form>
        		<button type="button" class="btn stock-btn" id="results5">
                    <p id=name5>name5</p>      
                </button>
        	</form>
        </div>
        <div class="col-sm-2 pd_none"> 
            <form>
        		<button type="button" class="btn stock-btn" id="results6">
                    <p id=name6>name6</p>      
                </button>
        	</form>
        </div>
        <div class="col-sm-2 pd_none"> 
            <form>
                <button type="button" class="btn stock-btn" id="results7">
                    <p id=name7>name7</p>
                </button>
            </form>
        </div>
        <div class="col-sm-2 pd_none"> 
            <form>
                <button type="button" class="btn stock-btn" id="results8">
                    <p id=name8>name8</p>
                </button>
            </form>
        </div>
        <div class="col-sm-2 pd_none"> 
            <form>
                <button type="button" class="btn stock-btn" id="results9">
                    <p id=name9>name9</p>
                </button>
            </form>
        </div>
        <div class="col-sm-2 pd_none"> 
            <form>
                <button type="button" class="btn stock-btn" id="results10">
                    <p id=name10>name10</p>
                </button>
            </form>
        </div>

    </div>
    <div class="row justify-content-md-center">
         <button type="button" class="btn submit-btn">Add to List</button>
    </div>
  </div>  

  

<body>
</html>